#cv-form{
    /* display: none; */
}

#cv-template{
    display: none;
}

.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.background{
    background-color: aqua;

}